{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
    <h1>Historique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ historique.id }}</td>
            </tr>
            <tr>
                <th>Date_auth</th>
                <td>{{ historique.dateAuth ? historique.dateAuth|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_historique_index') }}">back to list</a>

    <a href="{{ path('app_historique_edit', {'id': historique.id}) }}">edit</a>

    {{ include('historique/_delete_form.html.twig') }}
{% endblock %}
